@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  @include flex-center;
  height: 70vh;
}

.form-container {
  height: 20vh;
}

.form-link {
  @include flex-center;
}
